.board-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px auto;
  font-family: "Pretendard", sans-serif;
  color: #222;
  min-height: calc(100vh - 220px);
  box-sizing: border-box;
  padding-bottom: 40px;
}

.board-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 0 20px 0;
}

.board-header h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.filter-input,
.filter-select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/*검색창*/
.board-search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0px;
  overflow: hidden;
}

.board-search-box input {
  border: none;
  padding: 8px 10px;
  width: 300px;
  outline: none;
}

.board-search-box button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 8px;
}

button img {
  width: 18px;
  height: 18px;
}

.write-btn {
  background-color: #ffffff;
  border: 1px solid #e2e5f0;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;

  width: 55px;

  font-size: 14px;
  color: #717686;
  text-decoration: none;

  text-align: center;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.board-table th {
  padding: 12px 0;
  border-top: 2px solid #111;
  border-bottom: 1px solid #ddd;
}

.board-table td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.board-table .title {
  text-align: left;
  padding-left: 10px;
  color: #333;
}

.pagination {
  text-align: center;
  margin-top: 25px;
}

.pagination button {
  background: none;
  border: none;
  margin: 0 6px;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 8px;
}

.pagination .active {
  color: white;
  background-color: #2822e9;
  border-radius: 20px;
}

