.chat-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.chat-container {
  width: 75%;
  height: 720px;
  background: white;
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden;
}

/* 왼쪽 채팅 리스트 */
.chat-list {
  width: 35%;
  border-right: 1px solid #eee;
  padding: 30px;
  overflow-y: auto;
}

.chat-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.chat-item {
  padding: 15px 5px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.chat-item-left {
  display: flex;
  gap: 15px;
  align-items: center;
}

.chat-item.active {
  background: #f4f1ff;
  border-radius: 10px;
}

.chat-number {
  font-size: 30px;
  color: #6b4eff;
}

.chat-name {
  font-weight: 600;
  font-size: 16px;
}

.chat-preview {
  color: #777;
  font-size: 13px;
}

/* 오른쪽 채팅 화면 */
.chat-room {
  width: 65%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.chat-room-header {
  text-align: center;
  margin-bottom: 20px;
}

.chat-room-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.chat-sub {
  color: #aaa;
  font-size: 13px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.message {
  max-width: 60%;
  padding: 12px 16px;
  border-radius: 18px;
  font-size: 14px;
  margin-bottom: 12px;
}

/* 상대방 */
.message.other {
  background: #f1f1f5;
  align-self: flex-start;
}

/* 나 */
.message.me {
  background: #6b4eff;
  color: white;
  align-self: flex-end;
}

/* 입력박스 */
.chat-input-box {
  display: flex;
  border: 1px solid #ddd;
  padding: 12px 15px;
  border-radius: 25px;
}

.chat-input-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.send-btn {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  color: #6b4eff;
}
