.mypage-wrapper {
  width: 100%;
  padding-bottom: 100px;
}

/* 상단 배너 */
.mypage-banner {
  width: 100%;
  height: 377px;
  background: url('../images/mypage-bg.png') no-repeat center/cover;

  /* 중앙 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;

  /* 기존 여백 제거 */
  padding-left: 0;

  color: #333;
}

.banner-text {
  text-align: left;
}

.banner-text h3 {
  font-size: 24px;
  font-weight: 500;
}

.banner-text .number {
  color: #2822e9;
  font-weight: bold;
}

/* 메뉴 카드 */
.mypage-menu {
  margin: 40px auto;
  width: 90%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.menu-card {
  width: 340px;
  padding: 22px;
  border: 1px solid #eee;
  border-radius: 12px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.menu-card p {
  color: #A0A3B1;
}
.menu-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
/* 아이콘 스타일 */
.menu-icon {
  margin-bottom: 12px;
}
.menu-card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* 게시글 섹션 */
.mypage-section {
  width: 90%;
  margin: 40px auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.view-all {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: #555;
}

.mypage-table {
  width: 100%;
  border-collapse: collapse;
}

.mypage-table th {
  border-top: 2px solid #111;
  border-bottom: 1px solid #ddd;
  padding: 12px 8px;
  font-size: 16px;

}

.mypage-table td {
  padding: 12px 8px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

.mypage-table .title {
  color: #333;
  cursor: pointer;
}

/* FAQ */
.faq-section {
  width: 90%;
  margin: 60px auto;
  font-size: 20px;
}

.faq-item {
  margin-top: 20px;
}

.faq-q {
  cursor: pointer;
  padding: 12px;
  background: #f8f8f8;
  border-radius: 8px;
  font-size: 16px;
}

.faq-a {
  padding: 12px;
  border-left: 3px solid #3463ff;
  margin-top: 8px;
  background: #fafafa;
  font-size: 16px;
}

/* 반응형 */
@media (max-width: 768px) {
  .mypage-banner {
    padding-left: 30px;
    height: 200px;
  }

  .mypage-menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-card {
    width: 100%;
    max-width: 350px;
  }

  .mypage-table th,
  .mypage-table td {
    font-size: 12px;
  }
}
