.board-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 80px auto;
  font-family: "Pretendard", sans-serif;
  color: #222;
}

.board-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 60px 0 20px 0;
}

.board-header h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.filter-input,
.filter-select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}



.write-btn {
  background-color: #f4f4ff;
  border: 1px solid #cfc6ff;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.board-table th {
  background-color: #faf9ff;
  padding: 12px 0;
  border-bottom: 2px solid #ccc;
}

.board-table td {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.board-table .title {
  text-align: left;
  padding-left: 10px;
  color: #333;
}

.pagination {
  text-align: center;
  margin-top: 25px;
}

.pagination button {
  background: none;
  border: none;
  margin: 0 6px;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 8px;
}

.pagination .active {
  color: white;
  background-color: #6558f5;
  border-radius: 5px;
}
