/* Footer 전체 스타일 */
.footer {
  background-color: #EFF2FA; /* 연한 회색 배경 */
  padding: 60px 0 40px;
  font-family: Arial, sans-serif;
  color: #4B4B4B;
}

.footer-content {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* 왼쪽 텍스트 영역 */
.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
}

.footer-list li:first-child {
  font-weight: bold;
}
.footer-list-down{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
}
.footer-left a {
  text-decoration: none;
  color: #000;
}

.footer-left hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #dcdcdc;
  margin: 25px 0 15px;
}

/* 오른쪽 아이콘 영역 */
.footer-right {
  display: flex;
  gap: 18px;
}

.footer-right img {
  width: 40px;
  height: 32px;
  cursor: pointer;
}

/* 카피라이트 */
.footer-copy {
  width: 85%;
  text-align: right;
  margin-top: 35px;
  font-size: 12px;
  color: #7A7A7A;
}

/* 반응형 */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 25px;
  }

  .footer-left hr {
    width: 90%;
    margin: 20px auto;
  }
}
